.nav-bar {
  background-color: white;
  padding: 0.8rem 1rem;
  width: 100%;
  box-shadow: 0 0 5px 5px var(--black-light-shade);
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap;
  align-items: center; */
  border-radius: 5px;
}
.nav-text {
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-icon,
.nav-logo {
  background-color: white;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 2ex;
}

.nav-icon:hover {
  cursor: pointer;
  background-color: var(--off-white);
  border-radius: 50%;
}

.nav-hamburger {
  display: none;
}
/* hamburger display for mobile devices */
@media screen and (max-width: 768px) {
  .nav-icon {
    display: none;
  }

  .nav-hamburger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .nav-logo {
    display: none;
  }
}
